/* ChatComponent.css */

/* Estilo para el contenedor principal del chat */
body {
  background-color: #212121; /* Cambia este valor al color de fondo que desees */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
.container {
  position: relative;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100vw;
  max-height: 75vh;
}

/* Estilo para el encabezado del chat */
h1 {
  text-align: center;
  color: #f9f9f9;
  margin: 5px 0;
}

/* Estilo para los mensajes del chat */
.chat-messages {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}


.chat-message {
  display: flex;
  flex-direction: column;
}

.message-wrapper {
  padding: 10px; /* Aumentar espaciado */
  width: 100%;
}

/* Estilo para las preguntas */
.question {
  text-align: right;
  color: #000000; /* Color del texto para las preguntas */
  border-radius: 20px 20px 0 20px; /* Ajustar bordes para hacerlo más redondito */
  margin-left: auto; /* Alinear a la izquierda */
  background-color: #863333;
  align-self: flex-end;
  width: 100%;
}

/* Estilo para las respuestas */
.answer {
  text-align: left;
  color: #fff; /* Color del texto para las respuestas */
  border-radius: 20px 20px 20px 0; /* Ajustar bordes para hacerlo más redondito */
  margin-right: auto; 
  background-color: #28415d;
  align-self: flex-start;
}

/* Estilo para la sección de preguntas y respuestas */
.input-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Estilo para los campos de entrada */
input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 300px;
}

/* Estilo para los botones */
button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #6e89a5;
  color: #fff;
  cursor: pointer;
}

/* Estilo para el botón de "Borrar Conversación" */
.clear-button {
  background-color: #dc3545;
  margin-left: 10px;
}

/* Estilo para los bocadillos de mensaje */
 .message-bubble {
  padding: 8px;
  border-radius: 20px; 
   margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
} 
.chat-wrapper {
  position: relative;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.chat-footer {
  background: #212121;
  position: fixed; /* Cambiar a 'fixed' para anclarlo en la parte inferior */
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-block: 15px;
  border-radius: 0px 0px 8px 8px;

  & textarea {
    color: #212121;
    padding: 15px;
    margin: 10px;
    width: 90%;
    height: 50px;
  }
}

.chat-footer-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}